{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />


    <title>Techeria</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.css' %} " />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href=" {% static 'css/style.css' %} " rel="stylesheet" />
    <!-- responsive style -->
    <link href=" {% static 'css/responsive.css' %} " rel="stylesheet" />
    <!-- icon font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">





</head>

<body>
    <!-- Confirming connection to database
  <h4>Information for One Product (from database):</h4>
  <table>
      {% for p in product %}
      <tr>
          <td>Name: {{ p.name }}</td>
      </tr>
      <tr>
          <td>Price: {{ p.price }}</td>
      </tr>
      <tr>
          <td>Description: {{ p.description }}</td>
      </tr>
      <tr>
          <td>Category: {{ p.category }}</td>
      </tr>
      {% endfor %}
  </table> -->
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                    <a class="navbar-brand" href=" {% static 'index.html' %} ">
                        <span>
              Techeria
            </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href=" {% static 'index.html' %} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=" {% url 'about' %} "> About </a>
                                </li>

                                {% comment %} <a class="nav-link" href=" {% static '' %} "> Categories </a> {% endcomment %} {% comment %}
                                <div class="dropdown">
                                    <botton class="dropbtn" href=" {% static '' %} "> Categories <i class="fa fa-caret-down"></i></button>
                                        <div class="dropdown-content">
                                            <li href="#">Link 1</li>
                                            <li href="#">Link 2</li>
                                            <li href="#">Link 3</li>
                                            <li href="#">Link 1</li>
                                            <li href="#">Link 2</li>
                                            <li href="#">Link 3</li>
                                        </div>
                                </div> {% endcomment %}
                                <li>
                                    <div class="dropdown">
                                        <button class="dropbtn">Categories</button>
                                        <div class="dropdown-content">
                                            <a href="#">Computers</a>
                                            <a href="#">Phones</a>
                                            <a href="#">Tablets/Ipads</a>
                                            <a href="#">Accessory</a>
                                            <a href="#">Chargers</a>
                                            <a href="#">TV</a>
                                            <a href="#">Speakers</a>
                                            <a href="#">Headsets</a>
                                        </div>
                                    </div>
                                </li>



                                <li class="nav-item">
                                    <a class="nav-link" href=" {% url 'product' %} "> Our Products </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=""> Return Orders </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href=" {% url 'contact' %} ">Contact us</a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                            </form>

                            <div class="dropdown">
                                <button class="dropbtn"><i class="glyphicon glyphicon-user" style="font-size:25px"></i></button>
                                <div class="dropdown-content">
                                    <a href="{% url 'loginpage' %}">Login</a>
                                    <a href="{% url 'registration' %}">Sign Up</a>
                                </div>
                            </div>
                            <a href="{% url 'cart' %}">
                                <button class="btn"><i class="fa fa-shopping-cart" style="font-size:30px"></i></button>
                            </a>




                        </div>
                    </div>
                </nav>
            </div>

        </header>
        <!-- end header section -->
        <!-- checkout -->
        <div class="container alert alert-light">
            <div class="row">
                <div class="col-lg-6">
                    <div class="box-element" id="form-wrapper">
                        <form id="form">
                            <div id="user-info">
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="name" placeholder="Name..">
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="email" name="email" placeholder="Email..">
                                </div>
                            </div>

                            <div id="shipping-info">
                                <hr>
                                <p>Shipping Information:</p>
                                <hr>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="address" placeholder="Address..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="city" placeholder="City..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="state" placeholder="State..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="country" placeholder="Zip code..">
                                </div>
                            </div>

                            <hr>
                            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                        </form>
                    </div>

                    <br>
                    <div class="box-element hidden" id="payment-info">
                        <small>Paypal Options</small>
                        <!--<button id="make-payment">Make payment</button>-->
                        <div id="paypal-button-container"></div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="box-element">
                        <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                        <hr>
                        <h3>Order Summary</h3>
                        <hr> {% for item in items %}
                        <div class="cart-row">
                            <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                            <div style="flex:2">
                                <p>{{item.product.name}}</p>
                            </div>
                            <div style="flex:1">
                                <p>${{item.product.price|floatformat:2}}</p>
                            </div>
                            <div style="flex:1">
                                <p>x{{item.quantity}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <h5>Items: {{order.get_cart_items}}</h5>
                        <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src=" {% static 'js/jquery-3.4.1.min.js' %} "></script>
        <script type="text/javascript" src=" {% static 'js/bootstrap.js' %} "></script>
</body>

</html>