{% load static %}
<!DOCTYPE html>
<style>
body {
  background-color:#B9CAF1 !important;

}

body{
   margin:0px;
   margin-top:60px;
   padding: 0px;
}
*,*::before,*::after{
   box-sizing: border-box;
}
nav{
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #B9CAF1;
   overflow: auto;
   height: auto;
   text-align:center;
}



</style>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Laptops</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.css' %} " />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href=" {% static 'css/style.css' %} " rel="stylesheet" />
  <!-- responsive style -->
  <link href=" {% static 'css/responsive.css' %} " rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href=" {% static 'index.html' %} ">
            <span>
              Laptops
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href=" {% static 'index.html' %} ">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=" {% static 'about.html' %} "> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=" {% static 'watch.html' %} "> Our Watches </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=" {% static 'contact.html' %} ">Contact us</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

  </div>
  <div class="bg">


    <!-- brand section -->

    <!-- <section class="brand_section layout_padding2">
      <div class="container">
        <div class="brand_heading">
          <h3 class="custom_heading">
            Our watch brands
          </h3>
          <p class="font-weight-bold">
            It is a long established fact that a reader will be distracted by the readable content of a page
          </p>
        </div>
      </div>
      <div class="container-fluid brand_item-container">
        <div class="brand_item-box">
          <div class="brand_img-box  item-1">
            <a href=" {% static '' %} ">
              View More
            </a>
          </div>
          <div class="brand_detail-box">
            <h5>
              $<span> 40 </span>
            </h5>
            <h6 class="">
              best watch
            </h6>
          </div>
        </div>
    </div> <!-- End site branding area -->
<!--
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="shop.html">Laptops</a></li>
                        <li><a href="single-product.html">Smartphones</a></li>
                        <li><a href="cart.html">Accessories</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->



    <!-- <h3 class="my-4 border-bottom pb-1"><span class="text-muted">Search Results for </span>{{request.GET.q}}</h3> -->
    <div class="container bcontent">
        {% for p in data%}
        <hr />
        <div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img-top" src="/media/laptops/{{p.image}}" alt="Card image cap">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.name }}</h5>
                        <p class="card-text">${{ p.price }}</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


<!-- info section -->
<section class="info_section layout_padding">
 <div class="container">
   <div class="info_items">
     <a href=" {% static '' %} ">
       <div class="item ">
         <div class="img-box box-1">
           <img src=" {% static '' %} " alt="">
         </div>
         <div class="detail-box">
           <p>
             Lorem Ipsum is simply dummy text
           </p>
         </div>
       </div>
     </a>
     <a href=" {% static '' %} ">
       <div class="item ">
         <div class="img-box box-2">
           <img src=" {% static '' %} " alt="">
         </div>
         <div class="detail-box">
           <p>
             +02 1234567890
           </p>
         </div>
       </div>
     </a>
     <a href=" {% static '' %} ">
       <div class="item ">
         <div class="img-box box-3">
           <img src=" {% static '' %} " alt="">
         </div>
         <div class="detail-box">
           <p>
             demo@gmail.com
           </p>
         </div>
       </div>
     </a>
   </div>
 </div>
</section>



<!-- end info_section -->

<!-- footer section -->
<section class="container-fluid footer_section">
 <p>
   © 2020 All Rights Reserved By
   <a href="https://html.design/">Free Html Templates</a>
 </p>
</section>
<!-- footer section -->

<script type="text/javascript" src=" {% static 'js/jquery-3.4.1.min.js' %} "></script>
<script type="text/javascript" src=" {% static 'js/bootstrap.js' %} "></script>
</body>

</html>




    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2020 All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src=" {% static 'js/jquery-3.4.1.min.js' %} "></script>
    <script type="text/javascript" src=" {% static 'js/bootstrap.js' %} "></script>
  </body>

  </html>
